* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background: url(/assets/backgroundNumbers.jpg) no-repeat center/cover;
}

footer {
  background: #f1da36;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1da36 0%, #f1da36 0%, #f1da36 0%, #fefcea 100%, #fefcea 100%, #f1da36 101%, #fefcea 102%, #fefcea 102%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1da36 0%, #f1da36 0%, #f1da36 0%, #fefcea 100%, #fefcea 100%, #f1da36 101%, #fefcea 102%, #fefcea 102%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1da36 0%, #f1da36 0%, #f1da36 0%, #fefcea 100%, #fefcea 100%, #f1da36 101%, #fefcea 102%, #fefcea 102%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 );
  /* IE6-9 */
}

section {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

section .start {
  font-size: 12px;
  margin-bottom: 4vh;
}

section .game {
  margin: auto;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

section .game .tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .game .tile p {
  display: none;
  font-size: 16px;
  font-weight: bold;
  color: dodgerblue;
}

section .game .endInscription {
  font-size: 30px;
  font-weight: bold;
  color: red;
  text-align: center;
}

footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
}

footer > div {
  width: 33%;
  height: 100%;
}

footer .resultsPlayer {
  display: flex;
  flex-direction: column;
  color: green;
  font-size: 13px;
  text-align: center;
}

footer .resultsPlayer p:last-of-type {
  color: red;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

footer #middleFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer #middleFooter p {
  color: green;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

footer #rightFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer #rightFooter p {
  color: green;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

footer button {
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 451px) and (max-width: 1200px) {
  section {
    height: 80vh;
  }

  section .start {
    font-size: 18px;
  }

  section .game {
    width: 80%;
    height: 70%;
  }

  section .game .tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section .game .tile p {
    font-size: 26px;
  }

  section .game .tile .endInscription {
    font-size: 36px;
  }

  footer {
    height: 20vh;
  }

  footer .resultsPlayer {
    font-size: 15px;
  }

  footer .resultsPlayer p:last-of-type {
    font-size: 50px;
  }

  footer button {
    width: 50%;
    font-size: 14px;
  }

  footer #middleFooter {
    align-items: center;
  }

  footer #rightFooter {
    align-items: center;
  }
}

@media only screen and (min-width: 1201px) {
  section {
    width: 100%;
  }

  section .start {
    font-size: 24px;
  }

  section .game {
    width: 70%;
  }

  section .game .tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section .game .tile p {
    font-size: 50px;
  }

  section .game .endInscription {
    font-size: 40px;
    color: red;
    margin-top: 44%;
    text-align: center;
  }

  footer {
    display: flex;
  }

  footer #leftFooter div:last-of-type {
    padding-top: 20px;
  }

  footer > div {
    width: 33%;
    height: 100%;
  }

  footer .resultsPlayer {
    flex-direction: row;
    font-size: 45px;
  }

  footer .resultsPlayer p:last-of-type {
    font-size: 45px;
  }

  footer button {
    width: 50%;
    font-size: 16px;
    height: 20%;
  }

  footer #middleFooter {
    align-items: center;
  }

  footer #rightFooter {
    align-items: center;
  }
}

.start {
  width: 18vw;
  height: 5vh;
  margin: 2vh auto 0 auto;
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color: #f24537;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.start:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color: #c62d1f;
}

.start:active {
  position: relative;
  top: 1px;
}

.tile {
  background: url(/assets/math.png) no-repeat center/cover;
}

.tile p {
  display: none;
}

.game {
  background: url(/assets/backgroundGame.jpg) no-repeat center/cover;
}

.game .endBoard {
  width: 100%;
  height: 100%;
  background: url(/assets/backgroundMath.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button {
  -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color: #ffec64;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

footer button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color: #ffab23;
}

footer button:active {
  position: relative;
  top: 1px;
}